<!DOCTYPE html>
<html>
<head>
	<meta content = 'text/html; charset = UTF-8' http-equiv="Content-Type"/>
</head>
<body>
	<h1>Hi, <%= @quotes.Written_by %></h1>
	<p>
		 your quote  <%= @quotes.Enter_your_quote %> has been deleted successfully.
	</p>
	<p>Thank you for your interest</p>
	</body>
</html>