<!DOCTYPE html>
<html>
<head>
	<meta content = 'text/html; charset = UTF-8' http-equiv="Content-Type"/>
</head>
<body>
	<h1>Welcome, <%= @quotes.Written_by %></h1>
	<p>
		You have successfully entered your quote, The quote you have submitted is <%= @quotes.Enter_your_quote %>
	</p>
	</body>
</html>